@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap");

:root{
  --primary-color: #0098e4;
  --secondary: #dbfffe;
  --black: #412F26;
  --white: #fff;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

*{
  font-family: 'DM Sans', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

a img{
  width: 100px;
  height: 50px;
  position: absolute;
  margin-top: -25px;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: 1rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: var(--primary-color);
}

section{
  padding: 5rem 7%;
}

.heading{
  position: relative;
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .4rem;
  text-align: center;
  margin-bottom: 3rem;
}

.heading::after{
  content: url('../images/separator.svg');
  display: block;
  width: 10rem;
  margin-inline: auto;
  margin-top: -1rem;
}

.btn{
  position: relative;
  display: inline-block;
  margin-top: 1rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  max-width: max-content;
  border: .1rem solid #412F26;
  background: #FFA500 ;
  padding: 1.2rem 4.5rem;
  overflow: hidden;
  z-index: 1;
  border-radius: .5rem;
}

.btn::before{
  content: "";
  position: absolute;
  bottom: 100%; left: 50%;
  transform: translateX(-50%);
  width: 200%; height: 200%;
  border-radius: 50%;
  background-color: black;
  transition: 500ms ease;
  z-index: -1;
}

.btn .text{
  transition: 250ms ease;
}

.btn .text-2{
  position: absolute;
  top: 100%; left: 50%;
  transform: translateX(-50%);
  min-width: max-content;
  color: var(--secondary);
}

.btn:is(:hover, :focus-visible)::before{
  bottom: -50%;
}

.btn:is(:hover, :focus-visible) .text-1{
  transform: translateY(-4rem);
}

.btn:is(:hover, :focus-visible) .text-2{
  top: 50%;
  transform: translate(-50%, -50%);
}

.shine{
  position: relative;
}

.shine::after{
  content: "";
  position: absolute;
  top: 0; left: 0; 
  width: 50%;
  height: 100%;
  background-image: linear-gradient(to right, transparent 0%, #fff6 100%);
  transform: skewX(-0.08turn) translateX(-180%);
}

.shine:is(:hover, :focus-within)::after{
  transform: skewX(-0.08turn) translateX(275%);
  transition: 1000ms ease;
}

/* header */

.header{
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  background: var(--white);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9%;
}

.header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo i{
  color: var(--primary-color);
  padding-right: .5rem;
}

.header .navbar a{
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
  padding-block: 1rem;
}

.header .navbar a:hover{
  color: var(--primary-color);
}

.header .navbar .hover-underline{
  position: relative;
  max-width: max-content;
}

.header .navbar .hover-underline::after{
  content: '';
  position: absolute;
  left: 0; bottom: 0;
  width: 100%;
  height: .5rem;
  border-block: .1rem solid var(--primary-color);
  transform: scaleX(0.2);
  opacity: 0;
  transition: 500ms ease;
}

.header .navbar .hover-underline:is(:hover, :focus-visible)::after{
  transform: scaleX(1);
  opacity: 1;
}

.header .icons div{
  font-size: 2.5rem;
  margin-left: 1.7rem;
  color: var(--black);
  cursor: pointer;
}

.header .icons div:hover{
  color: var(--primary-color);
}

#menu-btn{
  display: none;
}
/* inicio */

.inicio{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../images/result.jpg ) no-repeat;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}

.inicio .content{
  max-width: 50rem;
}

.inicio .content h3{
  font-size: 5rem;
  color: var(--white);
  line-height: 1.2;
}

.inicio .content p{
  font-size: 1.5rem;
  line-height: 2;
  color: var(--white);
  padding: 1rem 0;
}


/* sobre */

.sobre .container{
  display: flex;
  flex-wrap: wrap;
}

.sobre .container .sobre-image{
  position: relative;
  flex: 1 1 40rem;
}

.sobre .container .sobre-image img{
  width: 80%;
}

.sobre .container .sobre-image .sobre-img{
  position: absolute;
  bottom: -10rem;
  right: -1rem;
  width: 25rem;
  padding-block: 5rem;
}

.sobre .container .sobre-content{
  flex: 1 1 50rem;
  padding-left: 6rem;
  padding-top: 8rem;
}

.sobre .container .sobre-content h3{
  font-size: 3rem;
  color: var(--primary-color);
}

.sobre .container .sobre-content p{
  font-size: 1.6rem;
  color: #444;
  padding: 1rem 0;
  line-height: 1.8;
}


/* cursos */

.cursos .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.cursos .box-container .box .image{
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.cursos .box-container .box .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cursos .box-container .box:hover .image img{
  transform: scale(1.1);
}

.cursos .box-container .box .image h3{
  font-size: 1.5rem;
  color: #444;
  position: absolute;
  top: 1rem; left: 1rem;
  padding: .5rem 1.5rem;
  background: var(--white);
}

.cursos .box-container .box .content{
  padding: 2rem;
  position: relative;
  border: 0.1rem solid var(--primary-color);
}

.cursos .box-container .box .content h4{
  position: absolute;
  background: var(--primary-color);
  color: var(--secondary);
  top: -3rem; right: 1.5rem;
  width: 6rem; 
  height: 6rem;
  line-height: 6rem;
  text-align: center;
  font-size: 1.4rem;
  border-radius: 50%;
}

.cursos .box-container .box .content p{
  font-size: 1.4rem;
  color: #444;
  line-height: 2;
}

.cursos .box-container .box .content h3{
  font-size: 2rem;
  color: #444;
}

.cursos .box-container .box .content .stars{
  padding: 1rem 0;
}

.cursos .box-container .box .content .stars i{
  font-size: 1.7rem;
  color: var(--primary-color);
}

.cursos .box-container .box .content .stars span{
  font-size: 1.4rem;
  color: #777;
  margin-left: .5rem;
}

.cursos .box-container .box .content .icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 0.1rem solid var(--primary-color);
}

.cursos .box-container .box .content .icons span{
  font-size: 1.5rem;
  color: #444;
}

.cursos .box-container .box .content .icons span i{
  color: var(--primary-color);
  padding-right: .5rem;
}


/* equipa */

.equipa .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.equipa .box-container .box{
  background: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.equipa .box-container .box .image{
  position: relative;
  overflow: hidden;
}

.equipa .box-container .box .image img{
  background: #80CEF4;
  width: 100%;
}

.equipa .box-container .box:hover .image .social{
  bottom: 0;
}

.equipa .box-container .box .image .social{
  position: absolute;
  bottom: -10rem; 
  left: 0; right: 0;
  padding: 2rem;
}

.equipa .box-container .box .image .social a{
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  margin: 0 1rem;
  color: var(--secondary);
  background: var(--primary-color);
  border-radius: .5rem;
}

.equipa .box-container .box .image .social a:hover{
  color: var(--primary-color);
  background: var(--secondary);
}

.equipa .box-container .box .content{
  padding: 2rem;
  padding-top: 1rem;
  align-items: center;
}

.equipa .box-container .box .content h3{
  font-size: 2rem;
  color: var(--black);
}

.equipa .box-container .box .content span{
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}



/* contactoo */

.contacto .row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.contacto .row .image{
  flex: 1 1 40rem;
}

.contacto .row .image img{
  width: 100%;
}

.contacto .row form{
  flex: 1 1 40rem;
  border: 0.1rem solid var(--primary-color);
  padding: 2rem;
}

.contacto .row form h3{
  font-size: 2.5rem;
  color: #444;
  padding-bottom: 1rem;
}

.contacto .row form .box{
  width: 100%;
  font-size: 1.6rem;
  padding: 1.2rem 1.4rem;
  border: .1rem solid var(--primary-color);
  margin: .7rem 0;
}

.contacto .row form .box:focus{
  color: var(--primary-color);
}

.contacto .row form textarea{
  height: 15rem;
  resize: none;
}

/* footer */

.footer{
  background: black;
  text-align: center;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3{
  font-size: 2.2rem;
  color: #80CEF4;
  padding: 1rem 0;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  color:#80CEF4;
  line-height: 2;
  padding: 1rem 0;
}

.footer .box-container .box .social{
  margin-top: 1rem;
}

.footer .box-container .box .social a{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 10%;
  font-size: 1.7rem;
  border: .1rem solid var(--primary-color);
  color: #80CEF4;
  margin-right: .3rem;
  text-align: center;
}

.footer .box-container .box .social a:hover{
  background: var(--primary-color);
  color: var(--white);
}

.footer .box-container .box .link{
  font-size: 1.7rem;
  line-height: 2;
  color: #80CEF4;
  padding: .5rem 0;
  display: block;
}

.footer .box-container .box .link:hover{
  color: var(--primary-color);
  text-decoration: underline;
}

.footer .credit{
  font-size: 2rem;
  margin-top: 3rem;
  padding-top: 3rem;
  text-align: center;
  color: #80CEF4;
  border-top: .1rem solid var(--primary-color);
}

.footer .credit span{
  color: #fff;
}


/* media queries */

@media (max-width:991px){

  html{
    font-size: 55%;
  }

  .header{
    padding: 2rem 4rem;
  }

  section{
    padding: 3rem 2rem;
  }

}

@media (max-width:768px){

  #menu-btn{
    display: inline-block;
  }

  .header .navbar{
    position: absolute;
    top: 110%; right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background: var(--white);
  }

  .header .navbar.active{
    right: 2rem;
    transition: .4s linear;
  }

  .header .navbar a{
    font-size: 2rem;
    margin: 1rem 2.5rem;
    display: block;
  }

  .inicio .content h3{
    font-size: 3rem;
  }

  .sobre .container .sobre-content{
    padding-left: 0;
  }

}

@media (max-width:450px){
  html{
    font-size: 50%;
  }
}